h1 {
  text-align: center;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  color: crimson;
  font-family: "Times New Roman";
}


h2 {
  text-align: center;
  font-size: 26;
  margin-top: 0px;
  margin-bottom: 0px;
  color: crimson;
  font-family: "Times New Roman";
}

img {
  height: 125px;
  position: relative;
  top: 340px;
  border: 2px solid black;
}

img:hover {
  border: 5px double limegreen;
  height: 110px;
}

span {
  font-size: 400%;
  color: firebrick;
  padding-left: 30;
  text-align: center;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
}
#containerForPasswords{
  display: block;
  border: 3px blue solid;
  position: relative;
  text-align: center;
  font-size: 3em;
  color: red;
  bototm: 0px;
}
