h1 {
text-align: center;
padding-bottom: 0px;
margin-bottom: 0px;
margin-top: 0px;
color: crimson;
}


h2 {
text-align: center;
font-size: 26;
margin-top: 0px;
margin-bottom: 0px;
color: crimson;
}

h3 {
margin-top: 0px;
margin-bottom: 0px;
color: crimson;
}

img {
height: 125px;
position: relative;
top: 340px;
border: 2px solid black;
}

img:hover {
border: 5px double limegreen;
height: 110px;
}

span {
font-size: 400%;
color: firebrick;
padding-left: 30;
text-align: center;
}

body {
background-size: cover;
background-repeat: no-repeat;
}

div {
verticle-align: top;
font-size: 80%;
}

/*star rating*/
.rating {
  display: inline-block;
}

.rating input {
  display: none;
}

.rating label {
  font-size: 30px;
  color: #ccc;
  cursor: pointer;
}

.rating label:before {
  content: '\2605';
}

.rating input:checked ~ label {
  color: #ffcc00;
}

.rating label:hover,
.rating label:hover ~ label {
  color: #ffcc00;
}
